/* css reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Merriweather", serif;
}

body {
  background-color: #f8edeb;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

img {
  position: relative;
  width: 45vw;
  height: 100%;
}

h1 span {
  position: absolute;
  top: 170px;
  left: 0;
  width: 43.5vw;
  background-color: rgba(179, 147, 147, 0.7);
  opacity: 70%;
  padding: 15px;
  color: white;
  font-weight: 700;
}

.right {
  width: 55vw;
  height: 100vh;
}

.text {
  padding: 2em;
  font-size: 2.3vh;
  width: 83%;
  font-weight: 400;
  color: gray;
}

.form-container {
  background-color: #f8f9fa;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2em 2em;
  font-size: 2.5vh;
}

form {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  align-items: space-evenly;
  padding-top: 1em;
  background-color: #f8f9fa;
}

.input-container {
  font-size: 1.7vh;
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  text-transform: uppercase;
  background-color: #f8f9fa;
}

input {
  margin-top: 0.3em;
  font-size: 1.7vh;
  border: 1px solid #dadce0;
  border-radius: 7px;
  padding: 0.5rem;
  outline: none;
  background: none;
  background-color: #f8f9fa;
}

input:focus {
  border: 1px solid #f4acb7;
  border-radius: 7px;
}

input:invalid {
  border: 2px solid rgb(252, 101, 176);
  border-radius: 7px;
}

input:invalid + span::before {
  content: "Invalid input";
  color: rgb(252, 101, 176);
  text-transform: none;
  font-style: italic;
  font-size: 1.3vh;
}

.bottom-container {
  padding: 2em;
}

button {
  background-color: #f4acb7;
  color: white;
  font-weight: 600;
  font-size: 2vh;
  border-radius: 5px;
  padding: 10px 30px;
}

button:hover {
  background-color: #f28482;
}
.login {
  font-size: 2vh;
  padding-top: 25px;
}

a {
  text-decoration: none;
  color: #f4acb7;
  font-weight: 600;
}

a:hover {
  color: #f28482;
  text-decoration: underline;
}
